/* Estable medidas en REM */
html {
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth; /* Scroll suave */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  /* Black & White Palette */
  --B-W-0: #ffffff;
  --B-W-100: #ebebeb;
  --B-W-400: #b2b2b2;
  --B-W-500: #828282;
  --B-W-600: #444444;
  --B-W-700: #000000;

  /* Organge Palette */
  --Orange-0: #f6ebde;
  --Orange-100: #f0ae63;
  --Orange-200: #e58c27;
  --Orage-300: #cf6a00;
  --Orage-400: #b05e00;

  /* Violete Palette */
  --Violet-0: #f0ebf0;
  --Violet-100: #d6a3d6;
  --Violet-200: #dd4c9a;
  --Violet-300: #71216a;
  --Violet-400: #44074a;

  /* Green     Palette */
  --Green-0: #fffef5;
  --Green-100: #f7f28d;
  --Green-200: #c9c562;
  --Green-300: #bdb51d;
  --Green-400: #97b86f;

  --max-width: 240rem;
  --content-width: 148rem;

  --primary-font: "Cormorant", serif;
  --secundary-font: "Montserrat", sans-serif;
}

.main-wrapper {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  max-width: var(--content-width);
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--secundary-font);
  color: var(--B-W-700);
}

.section-filler {
  width: 100%;
  height: 30rem;
}

/* TODO: Quitar cuando pruebes*/
/*** section color solo pruebas ***/

/* Colores distintos para cada sección */
#testimonios .section-filler {
  background-color: red;
}

#servicios .section-filler {
  background-color: green;
}

#sobreMi .section-filler {
  background-color: blue;
}

/************************************ General Fonts **************************************/

.vet_h1 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 8rem;
  line-height: 6.5rem;
}

.vet_ag-rg2 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
}

.vet_sub1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
}

.vet_h2 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 90%;
}

.vet_reg1 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.vet-section-two--first-block--icon img {
  max-width: 16.7rem;
  height: auto;
}

/* Frame 1000002570 */

/**************************** Header  **************************************/

.vet-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.vet-header__nav {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.vet-header__nav {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.vet-header-wrapper a {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--B-W-700);
  text-decoration: none; /* Esto quita el subrayado */
}

/*****************************Section 1************************************/

.vet-header__first-block {
  display: flex;
  gap: 4rem;
}

.vet-section-one__first-block--img {
  border-radius: 3rem;
  overflow: hidden;
}

.vet-section-one__first-block--img:first-of-type {
  width: 65%;
  position: relative;
  aspect-ratio: 917/603;
  padding: 10.6rem 10.5rem;
}

.vet-section-one__first-block--img:first-of-type img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.vet-section-one__first-block--img:last-of-type {
  width: 35%;
}

.vet-section-one__first-block--img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.vet-section-one__second-block {
  display: flex;
  gap: 4.6rem;
}

.vet-section-one__second-block > div {
  width: 50%;
  margin-top: 4rem;
}

.vet-section-one__first-block--img__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  max-width: 52.8rem;
}

.vet-section-one__first-block--img__button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2.3rem;
  background-color: var(--Violet-400);
  border-radius: 10rem;
  color: #fff;
}

/****************TESTIMONIOS*********************************/

.vet-section-two {
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.vet-section-two__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Green-200);
  z-index: -1;
  img {
    object-fit: cover;
  }
}

.vet-section-two--inner {
  display: flex;
}

.vet-section-two--first-block {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vet-section-two--second-block {
  flex: 1;
}

.vet-section-two--pagination {
  height: 11.8rem;
}
/********************************Media Queries *****************************************/

/* smaller destoks */

@media (max-width: 82em) {
}

/* Bellow 1200px Land Scape tablets */

@media (max-width: 75em) {
  html {
    /* 9/16 */
    font-size: 56.25%;
  }
}

/* Bellow 944px  tablets */

@media (max-width: 59em) {
  html {
    /* 8/16 */
    font-size: 50%;
  }
}

/* Bellow 700px  Small tablets */
@media (max-width: 44em) {
}

/* Bellow 544px  phones */
@media (max-width: 34em) {
}
